@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.hero {
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
}

.navigation li a:hover {
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
}

.hero-title {
    color: hsl(0, 0%, 100%);
    font-size: 72px;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    letter-spacing: 7px;
    margin-top: 120px;
}

.hero-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.hero-arrow img {
    width: 48px;
}