@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    width: fit-content
}

.hero {
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: relative;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
}

.navigation li a:hover {
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
}

/* MOBILE NAV */
.mobile-nav {
    position: absolute;
    top: 100%;
    /* right: 24px; */
    background-color: hsl(0, 0%, 100%);
    width: calc(100% - 64px);

    padding: 32px;
    /* display: none; */
}

.menu-btn-btn {
    background-color: hsl(51, 100%, 49%);
    display: block;
    color: black !important;
    padding: 12px 24px;
    border-radius: 24px;
}

.mobile-nav li a {
    color: hsl(213, 9%, 39%);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.mobile-nav ul {
    list-style-type: none;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* MOBILE NAV */

.hero-title {
    color: hsl(0, 0%, 100%);
    font-size: 72px;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    letter-spacing: 7px;
    margin-top: 120px;
}

.hero-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.hero-arrow img {
    width: 48px;
}

/* SECOND SECTION */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.square {
    width: 100%;
    height: 100%;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-grid {
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 450px;
}

.square h3{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.square p {
    line-height: 1.5;
    font-size: 14px;
    margin-top: 24px;
    color: hsl(213, 9%, 39%);

}

.text-grid button {
    margin-top: 24px;
    border: none;
    font-family: 'Fraunces', serif;
    background: none;
    border-bottom: 5px solid yellow;

}

.five {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px  ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.five p {
    max-width: 500px;
    color: hsl(167, 40%, 24%);
}



.six {
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px  ;
    text-align: center;
        display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: hsl(198, 62%, 26%);
}

.six p {
    max-width: 500px;
    color: hsl(198, 62%, 26%);
}



/* TESTIMONIALS */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 64px;
    margin-top: 64px;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.testimonials h3 {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    letter-spacing: 6px;
    margin-bottom: 32px;
}

.testimonials p {
    font-size: 14px;
    line-height: 1.5;
    color: hsl(213, 9%, 39%);
    text-align: center;
    max-width: 320px;
    line-height: 1.8;
}

.testimonials img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 32px;
}

.testimonials h4 {
    font-family: 'Fraunces', serif;
    font-size: 16px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin-top: 16px;
}

.testimonials h5 {
    font-size: 14px;
    line-height: 1.5;
    color: hsl(210, 4%, 67%);
    text-align: center;
    max-width: 500px;
    margin-top: 12px;
}

/* IMAGES SECTION */
.images {
    display: grid;
    grid-template-columns: repeat(4,1fr)
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: hsl(168, 50%, 65%);
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;
    margin-top: 24px;
}

.footer-links li a {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
}

.footer-links li a:hover {
    color: white;
}

.socials {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.menu-btn {
    display: none;
}

.is-active {
    display: none;
}

@media only screen and (max-width: 800px) {
    .square h3{
        font-size: 24px;
    }
    
    .square p {
        line-height: 1.7    ;
        font-size: 12px;
    
    }
    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 64px;
        margin-top: 64px;
    }

    .hero-title {
        font-size: 64px;
        letter-spacing: 7px;
        margin-top: 64px;
    }

    nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .mobile-nav {
        position: absolute;
        top: 100%;
        background-color: hsl(0, 0%, 100%);
        width: calc(100% - 128px);
    
        padding: 32px;
    }

    .five h3 {
        font-size: 24px;
        color: hsl(167, 40%, 24%);
        
    }
    .six h3 {
        font-size: 24px;
        color: hsl(198, 62%, 26%);
    }
    .text-img-grid p{
        font-size: 13px;
        line-height: 1.8;
        max-width: 280px;
    }
}

@media only screen and (max-width: 425px) {
    
    /* MOBILE NAV */
.mobile-nav {
    position: absolute;
    top: 100%;
    /* right: 24px; */
    background-color: hsl(0, 0%, 100%);
    width: calc(100% - 64px);

    padding: 32px;
    /* display: none; */
}

.menu-btn-btn {
    background-color: hsl(51, 100%, 49%);
    display: block;
    color: black !important;
    padding: 12px 24px;
    border-radius: 24px;
}

.mobile-nav li a {
    color: hsl(213, 9%, 39%);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

    nav {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .hero {
        height: auto;
        background-image: url(./images/mobile/image-header.jpg);
        background-size: cover;
        background-position: center;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr ;
        /* grid-template-rows: 1fr; */
        gap: 64px;
        margin-top: 64px;
    }

    .hero-title {
        color: hsl(0, 0%, 100%);
        font-size: 40px;
        text-align: center;
        font-weight: 900;
        font-family: 'Fraunces', serif;
        letter-spacing: 7px;
        margin-top: 64px;
    }

    .hero-arrow {
        margin-top: 0px;
        padding-bottom: 120px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }

    .images img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .testimonials h3 {
        font-size: 16px;
        letter-spacing: 5px;
        margin-bottom: 24px;
    }

    .testimonials p {
        font-size: 16px;
        line-height: 1.5;
        color: hsl(213, 9%, 39%);
        text-align: center;
        max-width: 320px;
        line-height: 1.8;
    }

    .img-grid {
        overflow: hidden;
    }

    .img-grid img{
        width: 100%;
        background-size: cover;

    }

    .text-img-grid {
        aspect-ratio: 2/3;
    }
        
    .two {
        column-span: 1;
        grid-row: 1/2;
    }

    header {
        padding: 2rem 2rem;
    }

    .menu-btn {
        display: block;
    }


    .hero-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 120px;
    }

    .square {
        text-align: center;
    }

    .square p {
        line-height: 1.8;
    }
}

